min-release-age=30
# See: https://docs.npmjs.com/cli/v11/using-npm/config#min-release-age and https://socket.dev/blog/npm-introduces-minimumreleaseage-and-bulk-oidc-configuration

allow-git=none
# Again see: https://socket.dev/blog/npm-introduces-minimumreleaseage-and-bulk-oidc-configuration
# (Should become the default from npm CLI v12.)

