name: lionweb-typescript tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Clean npm cache
        run: npm cache clean --force
      - name: Install dependencies
        run: npm install --auth-type=legacy
      - name: Setup all packages
        run: npm run setup
      - name: Build all packages
        run: npm run build
      - name: Test
        run: npm run test
      - name: Lint
        run: npm run lint

